.site-branding__name {
    font-size: 2em;
}

#header {
    background-color: #fff;
    background-image: unset;
    /* background-image: linear-gradient(to bottom, #055a8e 0%, #1d84c3 100%); */
}

.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 2em;
    line-height: 1.2;
    color: orange;
}

a, .link {
    color: orange;
}

.sidebar .block {
    background-color: #fff;
    border-color: #fff;
}

.region-header, .region-header a, .region-header li a.is-active, .site-branding__text, .site-branding, .site-branding__text a, .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
    color: orange;
}

.region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail a {
    background: orange;
}
.region-primary-menu .menu a:hover, .region-primary-menu .menu a:focus {
    background: orange;
}

ul.menu a.is-active {
    color: #fff;
}

.region-primary-menu .menu a {
    color: orange;
}
.region-primary-menu .menu a:hover {
    color: #fff;
}

.article_teaser_left,
.article_teaser_rigth {
    display: inline-block;
    width: 49%;
}
.article_teaser_left {
    vertical-align: top;
}
