
#block-lemonde-blockdrupal8 {
    z-index: 3;
    background: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

#conteneur_logo {
    overflow: hidden;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 3px;
}

#conteneur_logo #logo {
    display: block;
    width: 240px;
    height: 42px;
    margin: 16px auto 5px;
    background: url("../images/lemonde/sprite.png") 0 -312px no-repeat;
    font-size: 46px;
    text-indent: -9999px;
}